# Created by .ignore support plugin

/.idea/
/lomout-app/log/
/log/lomout.log
/lomout-app/tmp/
/.scannerwork/
/lomout-config/log/
/tmp/
/lomout-config/tmp/
*.ipr
*.iml
*.iws
/build
/lomout-config/build
/lomout-app/build
/buildSrc/build
.gradle/
