<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="file:src/main/resources/config.xsd">
    <database name="magemediation">
        <server host="localhost" user="root" password="root"/>
    </database>
    <files>
        <file id="onec_product" path="../.testdata/test-products.xls"/>
        <file id="onec_group" path="../.testdata/test-products.xlsx"/>
        <file id="mage_product" path="../.testdata/catalog_product.csv"/>
        <file id="mage_user_group" path="../.testdata/customer_group.csv"/>
        <file id="mage_group" path="../.testdata/catalog_category.csv"/>
        <file id="mage_customer_group" path="../.testdata/customer_group.csv"/>
        <file id="mage_adv_price" path="../.testdata/advanced_pricing.csv"/>
    </files>
    <data-sets>
        <dataset name="onec_group" rows-to-skip="1" max-absent-age="10" target="onec-group">
            <source file="onec_group" sheet="Group" empty-row="stop"/>
            <field-sets>
                <main name="group">
                    <field name="group_code" column="0" regex="^G[0-9]{3,3}$" key-field="true"/>
                    <field name="group_name" column="1"/>
                </main>
            </field-sets>
        </dataset>
        <dataset name="onec_product" rows-to-skip="4" max-absent-age="10" target="onec-product">
            <source file="onec_product" sheet="stock"/>
            <field-sets>
                <main name="product">
                    <field name="sku" column="0" regex="^[0-9]{4,10}$" key-field="true"/>
                    <field name="catalog_sku" column="1"/>
                    <field name="russian_name" column="4"/>
                    <field name="english_name" column="5"/>
                    <field name="manufacturer" column="10"/>
                    <field name="country_of_manufacture" column="8"/>
                    <field name="machine_vendor" column="6"/>
                    <field name="machine" column="7"/>
                    <!--
                        <field name="machine_unit" column="0"/>
                    -->
                    <field name="weight" column="9" type="double"/>
                </main>
                <additional name="group">
                    <field name="group_code" column="0" regex="^G[0-9]{3,3}$"/>
                    <field name="group_name" column="1"/>
                </additional>
            </field-sets>
        </dataset>
        <dataset name="mage_product" headers-row="0" rows-to-skip="0" max-absent-age="10" target="mage-product">
            <source file="mage_product" sheet=".*"/>
            <field-sets>
                <main name="product">
                    <field name="sku" key-field="true"/>
                    <field name="additional_attributes" type="attribute-list">
                        <attr-list-format attr-delimiter="," attr-quote="" name-value-delimiter="=" value-quote='"'/>
                    </field>
                    <field name="description" type="text"/>
                    <field name="short_description" type="text"/>
                    <field name="weight" type="double" optional="true"/>
                    <field name="product_online" type="bool"/>
                    <field name="price" type="double"/>
                    <field name="special_price" type="double" optional="true"/>
                    <field name="special_price_from_date" type="date" optional="true">
                        <date-format format="d.M.yy"/>
                    </field>
                    <field name="special_price_to_date" type="date" optional="true">
                        <date-format format="d.M.yy"/>
                    </field>
                    <field name="created_at" type="datetime">
                        <datetime-format format="d.M.yy, H:m"/>
                    </field>
                    <field name="updated_at" type="datetime">
                        <datetime-format format="d.M.yy, H:m"/>
                    </field>
                    <field name="new_from_date" type="date" optional="true">
                        <date-format format="d.M.yy"/>
                    </field>
                    <field name="new_to_date" type="date" optional="true">
                        <date-format format="d.M.yy"/>
                    </field>
                    <field name="qty" type="double"/>
                    <field name="out_of_stock_qty" type="double"/>
                    <field name="use_config_min_qty" type="bool"/>
                    <field name="is_qty_decimal" type="bool"/>
                    <field name="allow_backorders" type="bool"/>
                    <field name="use_config_backorders" type="bool"/>
                    <field name="min_cart_qty" type="double"/>
                    <field name="use_config_min_sale_qty" type="bool"/>
                    <field name="max_cart_qty" type="double"/>
                    <field name="use_config_max_sale_qty" type="bool"/>
                    <field name="is_in_stock" type="bool"/>
                    <field name="notify_on_stock_below" type="double"/>
                    <field name="use_config_notify_stock_qty" type="bool"/>
                    <field name="manage_stock" type="bool"/>
                    <field name="use_config_manage_stock" type="bool"/>
                    <field name="use_config_qty_increments" type="bool"/>
                    <field name="qty_increments" type="double"/>
                    <field name="use_config_enable_qty_inc" type="bool"/>
                    <field name="enable_qty_increments" type="bool"/>
                    <field name="is_decimal_divided" type="bool"/>
                    <field name="website_id" type="int"/>
                    <field name="related_skus" type="string-list">
                        <list-format delimiter="," quote=""/>
                    </field>
                    <field name="crosssell_skus" type="string-list">
                        <list-format delimiter="," quote=""/>
                    </field>
                    <field name="upsell_skus" type="string-list">
                        <list-format delimiter="," quote=""/>
                    </field>
                    <field name="additional_images" type="string-list">
                        <list-format delimiter="," quote=""/>
                    </field>
                    <field name="additional_image_labels" type="string-list">
                        <list-format delimiter="," quote=""/>
                    </field>
                    <field name="associated_skus" type="string-list">
                        <list-format delimiter="," quote=""/>
                    </field>

                    <field name="ratings_summary" type="double" nested="true" parent="additional_attributes"
                           optional="true"/>
                    <field name="cost" type="double" nested="true" parent="additional_attributes" optional="true"
                           locale="en_US"/>
                    <!-- remove optional in this section -->
                    <field name="english_name" nested="true" parent="additional_attributes" optional="true"/>
                    <field name="catalog_sku" nested="true" parent="additional_attributes" optional="true"/>
                    <field name="machine" nested="true" parent="additional_attributes" optional="true"/>
                    <field name="machine_unit" nested="true" parent="additional_attributes" optional="true"/>
                    <field name="machine_vendor" nested="true" parent="additional_attributes" optional="true"/>
                    <!-- end of section -->
                    <field name="ts_dimensions_length" type="double" nested="true" parent="additional_attributes"
                           optional="true"/>
                    <field name="ts_dimensions_height" type="double" nested="true" parent="additional_attributes"
                           optional="true"/>
                    <field name="ts_dimensions_width" type="double" nested="true" parent="additional_attributes"
                           optional="true"/>
                </main>
            </field-sets>
        </dataset>
        <dataset name="mage_group" target="mage-category" headers-row="0" max-absent-age="10">
            <source file="mage_group" sheet=".*" empty-row="stop"/>
            <field-sets>
                <main name="group">
                    <field name="entity_type_id" type="int" optional="true"/>
                    <field name="attribute_set_id" type="int"/>
                    <field name="created_at" type="datetime">
                        <datetime-format format="y-M-d H:m:s"/>
                    </field>
                    <field name="updated_at" type="datetime">
                        <datetime-format format="y-M-d H:m:s"/>
                    </field>
                    <field name="parent_id" type="int"/>
                    <field name="increment_id" type="int" optional="true"/>
                    <field name="entity_id" type="int" key-field="true"/>
                    <field name="children" optional="true"/>
                    <field name="children_count" type="int"/>
                    <field name="description" type="text"/>
                    <field name="include_in_menu" type="bool"/>
                    <field name="is_active" type="bool" optional="true"/>
                    <field name="is_anchor" type="bool" optional="true"/>
                    <field name="is_virtual_category" type="bool" optional="true"/>
                    <field name="level" type="int"/>
                    <field name="position" type="int"/>
                    <field name="use_name_in_product_search" type="bool"/>
                    <field name="gen_store_id" type="int"/>
                    <field name="gen_products" type="int-list" optional="true">
                        <list-format delimiter="|" quote=""/>
                    </field>

                </main>
            </field-sets>
        </dataset>
        <dataset name="mage_customer_group" target="mage-user-group" headers-row="0" max-absent-age="10">
            <source file="mage_customer_group" sheet=".*"/>
            <field-sets>
                <main name="customer-group">
                    <field name="customer_group_id" type="int" key-field="true"/>
                    <field name="tax_class_id" type="int"/>
                </main>
            </field-sets>
        </dataset>
        <dataset name="mage-adv-price" target="mage-price" headers-row="0" max-absent-age="10">
            <source file="mage_adv_price" sheet=".*"/>
            <field-sets>
                <main name="mage-price">
                    <field name="sku" key-field="true"/>
                    <field name="tier_price_website" key-field="true"/>
                    <field name="tier_price_customer_group" key-field="true"/>
                    <field name="tier_price_qty" type="double"/>
                    <field name="tier_price" type="double"/>
                </main>
            </field-sets>
        </dataset>
    </data-sets>
</config>