<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!--suppress ALL -->
<Configuration
        xmlns="http://logging.apache.org/log4j/2.0/lomoutScript"
        packages="net.pototskiy.apps.lomout.logger">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%-12.12t] %-8c{1} - %msg%n"/>
        </Console>
        <File name="logFile" fileName="log/lomout.log" append="false">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%-12.12t] %-8c{1} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="net.pototskiy.apps.lomout" level="error" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logFile"/>
        </Logger>
        <Logger name="net.pototskiy.apps.lomout.status" level="info" additivity="true"/>
        <Logger name="net.pototskiy.apps.lomout.lomoutScript" additivity="true"/>
        <Logger name="net.pototskiy.apps.lomout.database" additivity="true"/>
        <Logger name="net.pototskiy.apps.lomout.loader" additivity="true"/>
        <Logger name="net.pototskiy.apps.lomout.mediator" additivity="true"/>
        <Logger name="Exposed" level="error" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="console"/>
            <AppenderRef ref="logFile"/>
        </Root>
    </Loggers>
</Configuration>
